@import '../variables';

.login__container {
  width: 80%;
  margin: 10em auto;
  border-radius: 15px;
  background-color: $col-medium;
  padding: 10px;
  box-shadow: 5px 5px $col-medium-dark;
  
}

.login__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 2em;

  img {
    width: 170px;
  }

  h2 {
    font-size: 1em;
    color: $col-medium-dark;
    margin-top: 1em;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 1.5em;

  h3 {
    color: $col-medium-dark;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  label {
    margin: 0.3rem 0;
    color: $col-dark;
  }

  input {
    height: 2rem;
    background-color: $col-light;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 1em;
    padding-left: 1em;
  }
}

.button__container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 2rem;
}

.login__submit__button {
  width: 200px;
  padding: 1em 0.5em;
  background-color: $col-medium-dark;
  color: $col-dark;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0.5rem auto;
}

button:hover {
  background-color: $col-dark;
  color: $col-light;
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  .login__container {
    width: 87%;
  }
  .login__header {
    img {
      width: 110px;
      margin-right: 3em;
    }
  }

  .login-form {
    display: flex;
    flex-direction: column;
    margin: 0 1em;

    h3 {
      margin-top: 1em;
      margin-bottom: 2em;
    }
  }

  .button__container {
    margin: 0.8em;
    margin-top: 0.8em;
  }

  .login__submit__button {
    width: 120px;
    padding: 0.5em 0.2em;
    margin-top: 0.2em;
  }
}

@media screen and (min-width: 420px) {
  .login__header {
    img {
      margin-right: 2em;
    }
  }

  .login-form {
    display: flex;
    flex-direction: column;
    margin: 0 1em;

    h3 {
      margin-bottom: 1em;
    }
  }

  @media only screen and (min-width: 768px) {
    .login__container {
      width: 70%;
      margin: 5em auto;
      border-radius: 15px;
      background-color: $col-medium;
      padding: 20px;
      box-shadow: 5px 5px $col-medium-dark;
    }
  }
}