@import '../variables';

.confirmation__container {
  height: 100vh;

  .confirmation__section {
    background-color: $col-medium;
    @include displayFlex(center, center, column);
    width: 65%;
    margin: 0 auto;
    margin-top: 3em;
    border-radius: 30px;
    padding: 3em;
    &:hover {
      box-shadow: 0 2px 5px 5px rgba(77, 79, 115, 0.1);
    }
  }
  .header__section {
    @include displayFlex(center, center, row);
    margin-bottom: 1em;

    .check__icon {
      font-size: 2.5em;
      margin-right: 0.2em;
      color: $col-dark;
    }
  }
  .message {
    padding: 0.5em 4em;
    text-align: center;
    color: $col-dark;
  }
}

@media screen and (max-width: 768px) {
  .confirmation__container {
    .confirmation__section {
      width: 80%;
    }
  }
}
