@import '../variables';

.search-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding-top: 110px;

  &__description {
    width: 700px;
    color: $col-dark;
    font-weight: bold;

    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6em;
    }
  }

  &__search-bar {
    margin-top: 50px;
    background-color: white;
    border: none;
    border-radius: 3px;
    box-shadow: var(--box-shadow);

    .search-bar__mode-toggle {
      display: flex;
      flex-direction: row;
      position: relative;

      // list / map toggle
      div {
        width: 100%;
        text-align: center;
        padding: 1.5em;
        font-weight: bold;
        color: $col-dark;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &.selected {
          background-color: #6d77bf;
          color: white;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .search-bar__input {
      display: flex;

      input {
        flex-grow: 1;
        padding: 0.8em;
        font-size: 1.6rem;
        border: transparent;
        border-top: 1px solid rgba(194, 194, 194, 0.5);
        border-bottom-left-radius: 3px;
      }

      button {
        padding: 0.4em;
        width: 200px;
        font-weight: bold;
        background-color: $col-dark;
        color: white;
        font-size: 1.4rem;
        border: none;
        border-bottom-right-radius: 3px;
      }
    }
  }
}

.dropdown-menu {
  max-height: 300px;
  overflow: scroll;
  background-color: white;

  &__item {
    list-style: none;
    padding: 1em;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      background-color: var(--light-grey);
    }
  }
}

.typewriter-text {
  color: var(--dark-grey);
  overflow: hidden;
  position: relative;
  width: 18em;
  // border-right: 2px solid var(--dark-grey);
  font-size: 1rem;
  white-space: nowrap;

  animation: typewriter 3s steps(44) 1s 1 normal both,
    blinkTextCursor 400ms steps(44) infinite normal;
}

.typewriter-text-finished {
  display: flex;
  color: var(--dark-grey);
  overflow: hidden;
  position: relative;
  width: 100%;
  font-size: 1rem;
  white-space: nowrap;

  animation: typewriter-fin 3s steps(44) 1s 1 normal both,
    blinkTextCursor-fin 400ms steps(44) infinite normal;
  animation-delay: 4s;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: var(--dark-grey);
  }

  to {
    border-right-color: transparent;
  }
}

@keyframes typewriter-fin {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blinkTextCursor-fin {
  from {
    border-right-color: var(--dark-grey);
  }

  to {
    border-right-color: transparent;
  }
}
