@import '../variables';

.container--main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;

  .container--search-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em 1em;
    width: 70%;
    max-width: 800px;

    /* removed submit btn */

    // &__submit-btn {
    //   width: 200px;
    //   padding: 1em 0.5em;
    //   background-color: $col-medium-dark;
    //   color: $col-dark;
    //   font-weight: bold;
    //   border-radius: 5px;
    //   border: none;
    //   cursor: pointer;
    // }

    // &__submit-btn:hover {
    //   background-color: $col-dark;
    //   color: $col-light;
    //   transition: 0.3s;
    // }

    .search__bar {
      background-color: white;
      border: 1px solid $col-dark;
      display: flex;
      align-items: center;
      padding: 0.5em;
      border-radius: 50px;
      width: 100%;
    }

    .search__icon,
    .icon {
      color: $col-dark;

      &:hover {
        color: $col-medium-dark;
        cursor: pointer;
        transition: 0.3s;
      }
    }

    .search__bar--input {
      border: none;
      flex-grow: 1;
      color: $col-dark;
      margin-left: 0.5em;
      font-size: .8em;
      font-weight: bold;

      &:focus {
        outline: none;
      }
    }

    .search-filters {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      font-weight: bold;
      flex-wrap: wrap;

      &__checkbox {
        color: $col-dark !important;
        display: flex;
        align-items: center;
        padding: 0;

        input {
          margin-right: 10px;
        }
      }
  }
}

  .container--search-results {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    overflow: scroll;
    transform: translateY(0);
    transition: transform 5s ease-in-out;  // not working

    &.hidden {
      display: none;
      transform: translateY(2000px);
    }
  }
}

// https://css-tricks.com/the-checkbox-hack/
/* Base for label styling */
[type='checkbox']:not(:checked),
[type='checkbox']:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}
[type='checkbox']:not(:checked) + label,
[type='checkbox']:checked + label {
  position: relative;
  padding-left: 1.75rem;
  font-size: 1rem;
  line-height: 1.7;
  cursor: pointer;
}

/* checkbox aspect */
[type='checkbox']:not(:checked) + label:before,
[type='checkbox']:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #aaa;
  background: #fff;
  border-radius: 0.2em;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 0 rgba(203, 34, 237, 0.2);
  -webkit-transition: all 0.275s;
  transition: all 0.275s;
}

/* checked mark aspect */
[type='checkbox']:not(:checked) + label:after,
[type='checkbox']:checked + label:after {
  content: '✕';
  position: absolute;
  top: 0.525em;
  left: 0.18em;
  font-size: 1.375em;
  color: $col-dark;
  line-height: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* checked mark aspect changes */
[type='checkbox']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
  transform: scale(0) rotate(45deg);
}

[type='checkbox']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}

/* Disabled checkbox */
[type='checkbox']:disabled:not(:checked) + label:before,
[type='checkbox']:disabled:checked + label:before {
  box-shadow: none;
  border-color: #A6B1E1;
  background-color: #e9e9e9;
}

[type='checkbox']:disabled:checked + label:after {
  color: #A6B1E1;
}

[type='checkbox']:disabled + label {
  color: #A6B1E1;
}

/* Accessibility */
[type='checkbox']:checked:focus + label:before,
[type='checkbox']:not(:checked):focus + label:before {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),
    0 0 0 6px rgba(166, 177, 225, 0.2);
}