@import '../variables';
@import '../global';

.dashboard-header {
  @include displayFlex(space-between, center);
  margin: 2em 0;
  color: $col-dark;
  border: none;

  h1 {
    padding-left: 1em;
    font-size: 2rem;
    font-weight: 700;
  }

  .dashboard-right-header {
    @include displayFlex(flex-end, center);
    flex-grow: 1;
    padding-right: 1em;

    h2 {
      padding: 0 5em;
    }

    img {
      max-width: 1em;
      margin: 0 1em;

      &:last-child {
        max-width: 3em;
      }
    }
  }
}