@import '../variables';
@import '../global';

.overview-cards {
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; 

  div {
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    color:  $col-dark;

    header {
      display: flex;
      align-items: center;
      justify-content: center;
      decoration: none;
    }

    strong {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      font-size: 3rem;
      font-weight: 600;
      line-height: 3rem;
    }

    &:last-child {
      background: $col-dark;
      color: white;
    }
  }
}

.individual-shelter {
  @include displayFlex(flex-start, stretch, row);
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size: 1.2rem;
  margin: 2em;

  background-color: white;
  border-radius: 1rem;
  color:  $col-dark;

  span {
    @include displayFlex(flex-start, flex-end);
    padding-right: 1rem;
  }

  img {
    height: 1.2rem;
    width: 1.2rem;
    margin: 0 0.5rem;
  }
  
  div {
    margin:0;
    box-sizing: border-box;

    &:first-child {
      padding-right: 1rem;
    }

    &:last-child {
      padding: 1rem;
    }

    .shelter-image {
      margin:0;
      height: 100%;
      width: 250px;
      border-radius: 1rem 0 0 1rem;
      object-fit: cover;
      object-position: center center;
    }
  }

  strong {
    padding-left: 2rem;
    font-weight: 700;
  }
}