@import '../variables';

  .menu-item {
    @include displayFlex(flex-start, center, row);
    decoration: none;
    padding: 1.5em 0 1.5em 2em;

    img {
      margin-right: 1.5em;
      max-width: 1.5em;
      max-height: 1.5em;
    }
  }

  .menu-item--selected {
    @include displayFlex(flex-start, center, row);
    decoration: none;
    background-color: $col-dark-2;
    color: $col-medium;
    padding: 1.5em 0 1.5em 2em;

    img {
      max-width: 1.5em;
      max-height: 1.5em;
      margin-right: 1.5em;
    }
  }