@import '../variables';

@media only screen and (max-width: 768px) {
  .dashboard-sidebar {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .dashboard-sidebar {
    @include displayFlex(flex-start, center, column);
    height: 100vh;
    margin: 0;
    min-width: 350px;
    background-color: $col-dark;
    color: white;
  
    .sidebar-logo {
      padding: 3em 0 6em;
    }
  }
}

