// This are color variables
  $col-light: #F4EEFF;
  $col-medium: #DCD6F7;
  $col-medium-dark: #A6B1E1;
  $col-dark: #424874;
  $font-stack: 'Nunito', sans-serif;

// This are functions to use
  @mixin allFlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin displayFlex($justifyContent: space-between, $alignItems:flex-end, $direction:row) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-direction: $direction;
  }