@import './variables';

footer {
  
  
  .copyright {
    border-top: 1px solid $col-medium;
    position: absolute;
    justify-content: center;
    display: flex;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: .4em;
    // margin-top: 2em;

    p {
      color: $col-medium-dark;
      font-size: .9em;
      padding-top: .7em;
    }
  }

  .footer__logo {
    display: flex;
    align-items: center;
    margin-left: 0.2em;

    p {
      margin-left: 0.1em;
      
    }

    img {
      width: 100%;
      height: 40px;
      margin-bottom: 0.5em;
      margin-left: 0.5em;
    }
  }
}
