@import './variables';

footer {
  .copyright {
    border-top: 1px solid $col-medium;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    display: flex;

    p {
      color: $col-medium-dark;
      font-size: .9em;
    }
  }

  .footer__logo {
    display: flex;
    align-items: center;
    margin-left: 0.2em;

    p {
      margin-left: 0.1em;
    }

    img {
      width: 100%;
      height: 30px;
      margin-bottom: 0.5em;
      margin-left: 0.5em;
    }
  }
}
