@import './variables';

header {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  border-bottom: 1px solid $col-medium;

  .nav__image,
  .nav__right {
    display: flex;
    align-items: center;
    margin: .2em 1em;
    justify-content: center;
  }
  .sign__in,
  .sign__up {
    font-size: .8em;
    cursor: pointer;
    font-family: $font-stack;
  }

  .sign__in:hover {
    color: $col-dark;    
  }
  .sign__in {
    margin-right: 0.6em;
  }

  .sign__up {
    border: none;
    margin-bottom: .1em;
  }

  .sign__up:hover {
    background-color: $col-dark;
    color: $col-light;
    border-radius: 10px;
    padding: 3px 10px;
    font-weight: bold;
  }
  
  img {
    width: 100%;
    height: 45px;
    margin-top: .2em;
  }

  
}
