@import './variables';

.register__container {
  width: 87%;
  margin: 5em auto;
  border-radius: 15px;
  background-color: $col-medium;
  padding: 10px;
  box-shadow: 5px 5px $col-medium-dark;
}

.register__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 2em;

  img {
    width: 150px;
  }

  h2 {
    font-size: 0.8em;
    color: $col-medium-dark;
  }
}

.registration-form {
  display: flex;
  flex-direction: column;
  margin: 0 1.5em;

  h3 {
    color: $col-medium-dark;
  }

  label {
    margin: 0.3rem 0;
    color: $col-dark;
  }

  input {
    height: 2rem;
    background-color: $col-light;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 1em;
  }
}

span {
  display: flex;

  div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &:first-child {
      padding-right: 0.8em;
    }

    &:last-child {
      padding-left: 0.8em;
    }
  }
}
